@tailwind base;
@tailwind components;
@tailwind utilities;

.cgsd-tailwind{
  @apply grid grid-cols-1 !gap-2;
  font-family: 'Sarabun', sans-serif;
}
.cgsd-tailwind h2 {
  font-weight: 600;
}

.p{
  margin: 0;
}

/* From Uiverse.io by barisdogansutcu */
.cgsd-loadding .svg {
 width: 3.25em;
 transform-origin: center;
 animation: rotate4 2s linear infinite;
}

.cgsd-loadding circle {
 fill: none;
 stroke: hsl(214, 97%, 59%);
 stroke-width: 2;
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
 stroke-linecap: round;
 animation: dash4 1.5s ease-in-out infinite;
}

.cgsd-loading { text-align:center; }

@keyframes spin { to { transform: rotate(360deg); } }
@keyframes rotate4 {
 100% {
  transform: rotate(360deg);
 }
}

@keyframes dash4 {
 0% {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
 }

 50% {
  stroke-dasharray: 90, 200;
  stroke-dashoffset: -35px;
 }

 100% {
  stroke-dashoffset: -125px;
 }
}
