@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-plugin {
  display: none;
}

.font-sarabun {
  font-family: 'Sarabun', sans-serif;
}

.font-cotactic {
  font-family: 'Cotactic Font', sans-serif;
}

.elementor *,
.elementor-section *,
.elementor-widget-container * {
  transition-property: all;
  animation: inherit;
}
